body, html {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  --theme-color: #9999ff; 
  --bg-color: #FFFFFF; 
  padding: 0px;
  overflow: hidden;
  margin: 0px;  
  height: 100%;
}

doc-app {
  overflow: hidden;
  flex: 1 1;
}

svg {
  fill: var(--bg-color);
}

header {
  height: 60px;
  position: fixed;
  z-index: 3;
  top: 0px;
  width: 100%;
  background-color: var(--theme-color); 
  font-size: 20px;
  line-height: 54px;
  font-weight: 600;
  color: #ffffff;  

  svg {
    margin-bottom: -4px;
  }
  a {
    float: right;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
    transition: border 0.5s;
    border-bottom: 3px solid rgba(255,255,255,0);
    border-top: 3px solid rgba(255,255,255,0);
    > span {
      font-size: 12px;
      font-weight: 100;
      vertical-align: top;
    }
  }
  a:hover {
    border-bottom: 3px solid var(--bg-color);
  }

  a:first-child {
    float: left;
    font-weight: inherit;
    margin-left: 60px;
  }
}

main {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  overflow: hidden;
  padding-left: 32px;
  padding-top: 0px;
  padding-right: 32px;
  height: calc(100%);
}

nav {
  position: fixed;
  top: 70px;
  padding: 40px;
  width: 300px;
  > a {
    color: inherit;
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  > a[active], > a:hover {
    color: var(--theme-color);  
  }
}

content {
  flex: 1 1;
  overflow: auto;
  margin-left: 300px;
  padding-top: 90px;
  padding-bottom: 50px;
  h1[title] {
    color: var(--theme-color);  
  }

  a {
    color: var(--theme-color);
  }
  a:visited {
    color: var(--theme-color);
  }
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}


[home] {
  display: flex;
  flex: 1 1;
  margin-top: 60px;
  height: 100%;
  > * {
    margin: auto;
  }
  h1 {
    font-size: 50px;
  }
  background-image: linear-gradient(
    to bottom right,
    rgba(255,255,255,0),
    var(--theme-color));
  
}

.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.top {
  z-index: 2;
}



/* Code styles */
code, pre {
  font-family: 'Roboto Mono', Consolas, Menlo, monospace;
}

code {
  background: #f5f5f5;
  color: black;
  padding: 2px 4px;
}

a code {
  color: inherit;
}

pre code {
  padding: 0;
}

pre {
  font-size: 14px;
  padding: 20px 24px;
  background: #f5f5f5;
  overflow-x: auto;
  max-width: 720px;
  box-sizing: border-box;
}


/* markdown taken from LitElement */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.xhighlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */